# ============================================================
# IMPEDIR HOTLINKING GLOBAL
# ============================================================

RewriteEngine On

RewriteCond %{HTTP_REFERER} !^https://photomusic.com.br [NC]
RewriteCond %{HTTP_REFERER} !^https://www.photomusic.com.br [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteRule \.(jpg|jpeg|png|gif|webp)$ - [F,NC,L]
