# ============================================================
# PROTEÇÃO DE ARQUIVOS INTERNOS DO PLUGIN
# ============================================================

<Files "*">
    Order Allow,Deny
    Deny from all
</Files>

<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Allow from all
</FilesMatch>

<FilesMatch "\.(php|php5|php7|phtml)$">
    Deny from all
</FilesMatch>

Options -Indexes
